$color-primary: #004a75;
$color-primary-dark: #004a75;
$color-primary-light: #007bc1;
$color-primary-light-1: #3389bb;

$color-secondary: #faa300;
$color-secondary-dark: #cc6600;
$color-secondary-light: #ff8000;
$color-secondary-light-1: #fab331;

$color-blue-dark: #040325;
$color-grey: #e5e5e5;
$color-icon: #a5a5a5;

$color-black-dark: #000f23;
$color-black-light: #3d5260;

$color-white: #ffffff;
$color-white-1: #f0f0f0;
